{% extends 'main/category.html' %}
{% block main %}
<h3 class="text-center">پست‌های نویسنده: {{ author.get_full_name }}</h3>

    {% for obj in object_list %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'articles_detail' obj.slug %}">
                            <h2 class="post-title">{{ obj.title }}</h2>
                            <img class="post-image" src="{{ obj.thumbnail.url }}" alt="{{ obj.title }}">
                            <h3 class="post-subtitle">{{ obj.description|truncatewords:20 }}</h3>
                        </a>
                        <p class="post-metas">
                            نویسنده:
                            <a href="{% url 'author' obj.author%}">{{ obj.author.get_full_name }}</a>
                            در تاریخ:
                            {{ obj.published|date:"Y-m-d" }}
                        </p>
                        <p class="post-metas">
                            دسته بندی:
                            {% for cat in obj.category_published.all  %}
                                <a href="{% url 'category' cat.slug %}">#{{ cat.title }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4">
                </div>
            </div>
        </div>
    {% endfor %}

<!-- Pagination -->
{% if is_paginated %}
    <div class="d-flex justify-content-center mb-4">
        {% if page_obj.has_next %}
            <a class="btn btn-primary text-uppercase"
               href="?page={{ page_obj.next_page_number }}"
               style="margin-left: 10px">→ بعدی</a>
        {% endif %}
        {% if page_obj.has_previous %}
            <a class="btn btn-primary text-uppercase"
               href="?page={{ page_obj.previous_page_number }}"
               style="margin-right: 10px">قبلی ←</a>
        {% endif %}
    </div>
{% endif %}
{% endblock %}