<div class="collapse navbar-collapse nav" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">خانه</a>
    </li>
    {% for cat in categories %}
      {% if cat.parent == None %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'category' cat.slug %}">{{cat.title}}</a>
          {% if cat.children.active %}
            {% include 'main/partials/category_loop.html' %}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">تماس با ما</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">درباره ما</a>
    </li>
  </ul>
</div>